{% extends "base.html" %}
{% block content %}
<div class="container col-md-3 nopadding"></div>
<div class="container top-padding col-md-6">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="center-block">
                <p style="font-size: 99px">:(</p>
            </div>
            <h2>No compatible matches</h2>
        </div>
        <div class="panel-body">
            <p>Check again later!</p>
        </div>
    </div>
</div>
<div class="container col-md-3 nopadding"></div>
{% endblock %}
