{% extends "base.html" %}
{% block content %}
<div class="container col-md-3 nopadding">
    <div class="decline-button full-height">
        Reject!
    </div>
</div>
<div class="container top-padding col-md-6">
    <div class="panel panel-default">
        <div class="panel-body">
            <img class="media-object center-block" src="data:image/jpeg;base64,{{image}}" alt="image" height="400px">
            <h2><strong>{{first_name}} {{last_name}}</strong>, {{age}}{{gender}}</h2>
        </div>
        <div class="panel-body">
            <p>{{description}}</p>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                Your code styles have a compatibility score of {{score}}!
            </li>
        </ul>
    </div>
</div>
<div class="container col-md-3 nopadding">
    <div class="accept-button full-height">
        Match!
    </div>
</div>
{% endblock %}
