html {
    height: 100%;
}

body {
    background-color: #ffffff;
    height: 100%;
}

.navbar-img {
    max-height: 25px;
}

.container {
    height: 100%;
    padding-top: 0px;
}

.full-height {
    height: 100%;
}

.navbar {
    margin-bottom: 0px;
}

.top-padding {
    padding-top: 10px
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;

    text-align: center;
}

.some-padding {
    padding: 175px 175px 175px 175px;
}

.accept-button:hover {
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0),
        rgba(233, 30, 99, 0.3)
    );
}

.decline-button:hover {
    background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0),
        rgba(3, 169, 244, 0.3)
    );
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
